@font-face{
    font-family: Yekanbakh;
    src: url(./assets/fonts/YekanBakh.v2-6/web/woff2/YekanBakh-Regular.woff2);
}
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    font-family: Yekanbakh;
}
body{
    text-align: right;
    background-color: var(--Primary-color);
    color: #FFFFFF;
}
:root{
    font-size: 62.5%;
    /* *************website colors************* */
    --Primary-color: #121212;
    --secondary-color: #FFFFFF33;
    --trinary-color: #FFFFFF00;
    --quaternary-color: #FFFFFF05;
    --quinary-color: #00000000;
    /* *************website paddings*********** */
    /* Dynamic */
  --padding-d-l-v: calc(2rem + 12vh);
  --padding-d-l-h: calc(2rem + 12vw);

  --padding-d-mc-v: calc(1rem + 4vh);
  --padding-d-mc-h: calc(1rem + 4vw);

  --padding-d-m-v: calc(1rem + 2vh);
  --padding-d-m-h: calc(1rem + 2vw);

  --padding-d-s-h: calc(1rem + 1vw);
  --padding-d-s-v: calc(1rem + 1vh);

  /* Static */
  --padding-st-l-h: 3rem;
  --padding-st-l-v: 2rem;

  --padding-st-m-h: 2.5rem;
  --padding-st-m-v: 1.5rem;

  --padding-st-s-h: 2rem;
  --padding-st-s-v: 1rem;
  /* ***************font sizes*************** */
    /* Dynmaic */
    --font-size-d-lc: calc(3rem + 3.5vw);
    --font-size-d-l: calc(2rem + 3vw);
    --font-size-d-mc: calc(2rem + 2.5vw);
    --font-size-d-m: calc(1rem + 2vw);
    --font-size-d-sc: calc(1rem + 1.5vw);
    --font-size-d-s: calc(1rem + 1vw);
  
    /* Static */
    --font-size-st-xl: 4rem;
    --font-size-st-lc: 3.5rem;
    --font-size-st-l: 3rem;
    --font-size-st-mc: 2.5rem;
    --font-size-st-m: 2rem;
    --font-size-st-sc: 1.5rem;
    --font-size-st-s: 1rem;

}
/***************** general styles ***************/
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.section-background{
    border-radius: 10px;
    background-image: linear-gradient(to bottom left,#FFFFFF05,#FFFFFF00);
    border: 1px solid var(--secondary-color);
}
.section-title{
    font-size: 2.2rem;
    line-height: 3.5rem;
    font-weight: 900;
    text-align: center;
}
/**************** Header style ***********/
input[type="search"]{
    border: none;
    outline: none;
    background-color: var(--Primary-color);
    text-align: right;
}
.header{
    display: flex;
    text-align: right;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 4rem;
    align-items: center;
}
.header__nav{
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    align-items: center;
    font-size: var(--font-size-st-sc);
    font-weight: 400;
}
.header__nav--logo{
    height: 3.8rem;
    width: 5rem;
}
.header__nav--logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header__search{
    position: relative;
    display: flex;
    width: 23rem;
    background-color: var(--Primary-color);
}
.header__search::after{
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--secondary-color);
}
.header__search--icon{
    font-size: var(--font-size-st-m);
    flex-grow: 1;
    color: var(--secondary-color);
}
.header__search--bar{
    flex-grow: 2;
}
.header__nav--links{
    color: #FFFFFF;
    transition: all 0.25s ease;
}
.header__nav--links:hover{
    color: var(--secondary-color);
}
/***************** Header style end *************/
/***************** Down Header style *************/
.down-header{
    display: flex;
    flex-direction: row-reverse;
    margin: 10rem;
}
.down-header__sirosali{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 2rem 4rem;
    row-gap: 2rem;
    margin-right: 6rem;
    flex-shrink: 0;
    width: 40rem;
    height: 45rem;

}
.down-header__sirosali--mini-title{
    color: var(--secondary-color);
    font-size: var(--font-size-d-sc);
}
.down-header__sirosali--title{
    font-size: var(--font-size-d-mc);
}
.down-header__sirosali--para{
    font-size: 1.4rem;
    line-height: 3rem;
}
.down-header__gorgali{
    position: relative;
}
.down-header__gorgali--img{
    position: absolute;
    bottom: 0;
    right: -2.5rem;
}
/****************** Down header style end ****************/
/****************** icon list style *****************/
.icon-list{
    height: fit-content;
    width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-d-m-h) var(--padding-d-m-v);
    border-radius: 40px;
    gap: 3rem;
}
.icon-list__icons{
    height: 5rem;
    display: flex;
    gap: 7rem;
}
.icon-list__icons--icon{
    width: 5rem;
    height: 5rem;
}
/******************** icon list style end *********************/
/******************** best list style ******************/
.best-list{
    display: grid;
    grid-template-columns: repeat(4,25rem);
    grid-template-rows:  10rem 35rem;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    gap: 2rem;
}
.best-list__title{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-self: center;
}
.g4{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}
.g3{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
.g2{
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}
.g1{
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
}
.g1 h3{
    text-align: left !important;
}
.best-list__items--item{
    background: linear-gradient(72.83deg, #121212 2.11%, rgba(0, 0, 0, 0) 98.6%);
    border: 1px solid #FFFFFF33;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
.best-list__items--item:hover{
    transform: translateY(-10px);
}
.best-list__items--item__img{
    width: 100%;
    position: relative;
}
.best-list__items--item__img--thumbnail img{
    width: 100%;
}
.best-list__items--item__img--play{
    position: absolute;
    z-index: 1;
    top: 6rem;
    left: 7rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}
.best-list__items--item__title{
    font-size: var(--font-size-st-sc);
    padding: var(--padding-st-s-h) var(--padding-st-s-v);
    padding-bottom: 0;
    height: 3.5rem;
    line-height: 2rem;
}
.best-list__items--item__title span{
    display: block;
}
.best-list__items--item__info{
    padding: 0 var(--padding-d-s-v);
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.best-list__items--item__info *{
    color: #A1A1A1;
    font-weight: 500;
}
.best-list__items--item__info--guest{
    font-size: 1.4rem;
}
.best-list__items--item__info--time{
    font-size: 1.2rem;
}
/******************** best list style end ******************/
/******************** list box style ******************/
.list-box{
    display: grid;
    grid-template-columns: repeat(2,47rem);
    grid-template-rows: repeat(4,10rem);
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}
.list-box__title{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}
.h1{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
.h2{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}
.h3{
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}
.h4{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}
.h5{
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}
.h6{
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
}
.list-box__item{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    padding-right: 2rem;
    transition: all 0.3s ease-in-out;
}
.list-box__item:hover{
    transform: translateY(-5px);
}
.list-box__item--img{
    width: 10rem;
    height: 7rem;
    padding: 1.25rem var(--padding-st-s-v);
}
.list-box__item--img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.list-box__item--number{
    font-size: 1.8rem;
    font-weight: 900;
}
.list-box__item--info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.list-box__item--info__guest{
    font-size: 1.2rem;
    color: #A1A1A1;
    font-weight: 500;
}
.list-box__more{
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    width: fit-content;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
    transition: all 0.25s ease;
}
.list-box__more:hover{
    color: var(--secondary-color);
}
/******************** list box style end ******************/
/******************** sponsors style ******************/
.sponsors{
    width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 6rem auto;
    padding: 2rem;
    border-radius: 35px;
}
.sponsors__list{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
/******************** sponsors style end ******************/
/******************** shorts style ******************/
.shorts{
    display: grid;
    grid-template-columns: repeat(2,50rem);
    grid-template-rows: 4rem 25rem 25rem;
    align-items: center;
    justify-content: center;
}
.shorts__title{
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
}
.child1{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-image: url("./assets/Img/Home/ShortVideos/Rectangle 10.png");
}
.child2{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background-image: url("./assets/Img/Home/ShortVideos/Rectangle 10 (2).png");
}
.child3{
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    background-image: url("./assets/Img/Home/ShortVideos/Rectangle 10 (1).png");
}
.child4{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    background-image: url("./assets/Img/Home/ShortVideos/Rectangle 10 (3).png");
}
.shorts__links{
    height: 75%;
    display: flex;
    padding: 0 2rem;
    padding-left: 4rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.shorts__links:hover{
    transform: translateY(-5px);
}
.shorts__links--img{
    height: 7rem;
    width: 7rem;
}
.shorts__links--img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.shorts__links--title{
    font-weight: 900;
    font-size: 2rem;
}
/******************** shorts style end ******************/