.video-list{
    width: 107rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
}
.video-list__title{
    font-weight: 900;
    font-size: 18px;
}
.video-list__cathegory{
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    font-weight: 400;
    font-size: 1.4rem;
}
.video-list__cathegory--item{
    color: #989898;
    transform-origin: right;
    padding: 1rem;
    transition: all 0.25s ease;
    border: transparent solid 1px;
    border-radius: 25px;
}
.video-list__cathegory--item:hover{
    border: #989898 solid 1px;
}