/*************** Ads style ****************/
.Ads{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0;
}
.Ads__banner p{
    width: fit-content;
}
.Ads__banner{
    width: 51rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}
/*************** Ads style end ****************/
/*************** video box style *****************/
.video_box{
    width: 105rem;
    height: 60rem;
    margin: auto;
    position: relative;
    border: 5px;
}
.video_box video{
    width: 100%;
    height: 100%;
    border: 5px;
}
.video_box__sponsor{
    width: 11.5rem;
    height: 3rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    background-color: #121212;
    position: absolute;
    bottom: 7rem;
    right: 2rem;
    border-radius: 5px;
}
.video_box__sponsor--details__title,
.video_box__sponsor--details__para{
    font-size: 10px;
}
.video_box__sponsor--details__title{
    font-weight: 700;
}
.video_box__sponsor--details__para{
    font-weight: 300;
    color: #E6E6E6;
}
/*************** video box style end *****************/
/*************** details style *****************/
.details{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3rem;
}
.details span{
    display: block;
    line-height: 2.8rem;
}
.details__desc{
    display: flex;
    flex-direction: column;
    width: 60rem;
    height: 80rem;
    margin-left: 2rem;
}
.details__desc--title{
    display: flex;
    align-self: flex-end;
    gap: 1rem;
    font-weight: 900;
    font-size: 15px;
}
.details__desc--para{
    font-weight: 400;
    font-size: 14;
    color: #989898;
    text-align: justify;
    word-break: keep-all;
}
.details__more{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.details__more--sponsors{
    display: flex;
    flex-direction: column;
    width: 42rem;
    height: 14.1rem;
    gap: 3rem;
    justify-content: center;
}
.details__more--sponsors__items{
    display: flex;
    justify-content: space-around;
}
.details__more--play-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.details__more--play-list__title{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
}
.details__more--play-list__items{
    display: flex;
    justify-content: space-between;
}
.details__more--play-list__items--img{
    width: 19.1rem;
    height: 11rem;
    border-radius: 5px;
}
.details__more--play-list__items--img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.details__more--play-list__items--details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: end;
}
.details__more--play-list__items--details__title{
    font-weight: 700;
    font-size: 16px;
}
.details__more--play-list__items--details--more{
    font-weight: 400;
    font-size: 12px;
}
.details__more--play-list__more{
    place-self: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.details__more--play-list__more p{
font-weight: 500;
font-size: 14px;
color: #989898;
}
.details__more--play-list__more i{
    font-weight: 900;
    color: #fff;
}
/*************** details style end *****************/
/*************** others style *****************/
.others{
    margin-left: 33%;
    display: flex;
    flex-direction: column;
    width: 60rem;
    height: 15.5rem;
    justify-content: center;
    border-radius: 25px !important;
}
.others__title{
    align-self: flex-end;
    padding-right: 2rem;
    margin-bottom: 2rem;
}
.others__items{
    display: flex;
    justify-content: space-around;
}
/*************** others style end *****************/