/*************** results style ***************/
.results{
    margin-top: 4rem;
    margin-bottom: 8rem;
    width: 110rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}
.results__search{
    font-weight: 900;
    font-size: 18px;
    text-align: right;
}
.results__items{
    display: flex;
    flex-direction: row-reverse;
}
.results__items:last-child{
    align-items: center;
    justify-content: center;
}
.results__items--video{
    background: none;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.results__items--video__title{
    font-weight: 700;
    font-size: 16px;
    padding-right: 1rem;
    height: 5rem;
}
.results__items--video__thumbnail{
    height: 19rem;
    width: 36rem;
    border-radius: 15px;
    margin-bottom: 2rem;
}
.results__items--video__thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.results__items--video__details{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 1rem;
}
.results__items--video__details--guest{
    font-weight: 400;
    font-size: 1.2rem;
    color: #575757;
}
.results__items--video__details--time{
    font-weight: 500;
    font-size: 1.2rem;
    color: #A1A1A1;
}
.results__page{
    justify-self: center;
    align-items: center;
    text-align: center;
}
.results__page--number{
    transition: all 0.25s ease;
    border: transparent solid 1px;
    border-radius: 25px;
    padding: 0.5rem;
}
.results__page--number:hover{
    border: #989898 solid 1px;
}
/*************** results style end ***************/